---
import Layout from '~/layouts/PageLayout.astro';

import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import Content2 from '~/components/widgets/Content-2.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';

const metadata = {
  title: 'Beyond Farm Guardian | Beyond',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Content2
    title="Monitoreo de ganado"
    description="Cuida de tu ganado con inteligencia artificial los 7 días de la semana durante los 365 días del año."
    items={[
      {
        title: 'Monitoreo de temperatura y humedad del corral',
        description: 'Description',
        icon: ''
      },{
        title: 'Medidas y peso',
        description: 'Description',
        icon: ''
      },
      {
        title: 'Prevención de enfermades',
        description: 'Description',
        icon: ''
      },{
        title: 'Etapa de gestación - Fecha aproximada de nacimiento',
        description: 'Description',
        icon: ''
      },{
        title: 'Identificación individual para detección de:',
        description: 'Estornudos, Rugidos, Diarrea, Moridas, Enfermedades',
        icon: ''
      }
    ]}

    image={{
      src: '/src/assets/images/Beyond-Farm-Guardian-pig.webp',
      alt: 'Vaca Beyond Farm Guardian',
    }}
  />
 <div style="display: flex;">
  <span class="text-center text-[#1a2e56] text-[1.5em] font-semibold m-20 dark:text-white">
    La prevención de crisis sanitarias mediante el monitoreo de ganado, la detección temprana de brotes y la
    aplicación de mecanismos de respuesta rápidas es imprescindible, sistemas de bioseguridad y trazabilidad para
    garantizar un estatus sanitario óptimo.
  </span>
 </div>

  <Content
    isReversed
    title="¿Cómo?"
    description="Luchando para reinventar la manera en que se opera en la industria ganadera, trabajamos en la investigación y desarrollo de un sistema de monitoreo de ganado con cámara en riel que permita generar data, transmisión en tiempo real y alertas proactivas en un dashboard con:  "
    items={[
      {
        title: 'Monitoreo de temperatura y humedad de corral',
      },
      {
        title: 'Etapa de gestación – fecha aproximada de nacimiento ',
      },
      {
        title: 'Medidas y peso',
      },
      {
        title: 'Previsión de crecimiento',
      },
      {
        title: 'Identificación individual para detección de: ',
      },
    ]}
    image={{
      src: '/src/assets/images/Cow-Beyond-Farm-Guardian.webp',
      alt: 'Vaca Beyond Farm Guardian',
    }}
  />

  <!-- Steps Widget ****************** -->

  <!-- <Steps
    title="Get your dream website up and running in no time with AstroWind."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download</span>',
        description:
          "Kickstart with GitHub! Either fork the AstroWind template or simply click 'Use this template'. Your canvas awaits, ready for your digital masterpiece. In just a few clicks, you've already set the foundation.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Add content</span>',
        description:
          "Pour your vision into it. Add images, text, and all that jazz to breathe life into your digital space. Remember, it's the content that tells your story, so make it captivating.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Customize styles</span>',
        description:
          'Give it your personal touch. Tailor colors, fonts, and layouts until it feels just right. Your unique flair, amplified by AstroWind! Precision in design ensures a seamless user experience.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  /> -->

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: '¿Por qué Beyond Farm Guardian?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: '¿Funciona sólo con cerdos?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Ganado cuidado', amount: '132K' },
      { title: 'Enfermedades prevenidas', amount: '24.8K' },
      { title: 'Partos éxitosos', amount: '10.3K' },
      { title: 'Ganaderos felices', amount: '5K' },
    ]}
  />

   <Fragment slot="sub-title">
    <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span>
   </Fragment>
  <iframe frameborder="0" style="height:770px;width:99%;border:none;" src="https://forms.zohopublic.com/beyondtechnologyltd/form/BeyondTechnologynuevositioENG/formperma/ZDi0-8iYoloXmYCKGM2UC7wzreW3YM7LR6Cv0oYESvA"></iframe>
</Layout>
